.line_bg {
  background: url('../img/menu_text_bg.png') no-repeat;
  background-position: -90px -10px;
  padding: 3px 0 0 10px; }

.contents {
  font-family: Verdana,"游ゴシック ",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif; }

.slider {
  height:420px;
  width: 100%;
  margin: 0 auto;
  position: relative;
 overflow-x: hidden; }
/*  .slider img {
    position: absolute;
    top: 0px; }
    .slider img.sl1 {
      left: 20%;
      -webkit-filter: blur(5px);
              filter: blur(5px); }
    .slider img.sl2 {
      left: -5%;
      -webkit-filter: blur(1px);
              filter: blur(1px); }
    .slider img.sl3 {
      right: -5%;
      -webkit-filter: blur(1px);
              filter: blur(1px); }
*/ 
   .slider img.logo {
    position: absolute;
      top: 150px;
      left: 35%; }
	  
	  /*スライダー*/
.slide_all {
	width: 960px !important; 
	margin: 0 auto; 
	position: relative;}
.slide_wrap {
	width: 2880px; 
	position: absolute; 
	left: 50%; 
	margin-left: -1440px;} 
.slide_body {
	width: 100%;} 
.slide {
		width: 960px !important; 
  height:600px;
} 
.slide img {
	width: 100%; 
	vertical-align: bottom;
	}

.bx-controls-direction,.bx-pager {
	 text-align: center;
	 height: 25px;} 
.bx-controls-direction a,.bx-pager-item {
		 display: inline-block;} 
.bx-pager-item a{
			 display: block; 
			 height: 10px; 
			 width: 10px; 
			 text-indent: -9999px; 
			 background: #000; 
			 border-radius: 10px; 
			 margin:10px 2px 0 2px;} 
.bx-pager-item a.active {
		opacity: 0.3;} 
.bx-controls-direction a{
		text-decoration: none; 
		color: #000; 
		padding:0 5px;} 
.bx-controls {
			position: absolute;
			bottom: 5px;
			z-index: 100;
			width: 100%;} 
	/*スライダー*/


.main {
  width: 1024px;
  margin: 0 auto;
  overflow: hidden; }
  .main h2 {
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
	width:100%; }
  .main .block {
    width: 339px;
    float: left;
    text-align: center; }
    .main .block h3 {
      text-align: left;
      margin-left: 50px;
	  overflow:visible; }
  .main .block-project {
    background: url('../img/top_project.png') no-repeat center 20%;}
  .main .block-member {
    background: url('../img/top_member.png') no-repeat center 20%;}
  .main .block-space {
    background: url('../img/top_space.png') no-repeat center 20%;}

.sub_slider {
  width: 100%;
/*  height: 530px;
*/  position: relative;
  margin-top: 50px; }
  .sub_slider:before {
    display: block;
    width: 250px;
    height: 250px;
    background: url('../img/icon_2y.png') no-repeat;
    background-size: 60%;
    position: absolute;
    top: -70px;
    left: 60%;
    content: " "; }

.member {
  width: 1024px;
  margin: 0 auto;
  padding:20px 0; }
  .member .member_text {
    margin-left: 10px; }
    .member .member_text span {
      font-size: 10px; }
  .member .regular {
    position: relative;
    height: 400px; }
    .member .regular .over {
      display: block;
      width: 100px;
      height: 100px;
      position: absolute; }
      .member .regular .over.ouma {
        top: 220px;
        left: 26%; }
      .member .regular .over.shirahama {
        top: 16px;
        left: 35%; }
      .member .regular .over.n0bisuke {
        top: 180px;
        left: 56%; }
      .member .regular .over.chiba {
        top: 10px;
        left: 78%; }
      .member .regular .over.five {
        top: 240px;
        left: 80%; }
    .member .regular img {
      position: absolute; }
      .member .regular img.tolablkun {
        top: 240px;
        left: 4%; }
        .member .regular img.tolablkun:hover:before {
          display: block;
          content: " ";
          width: 100px;
          height: 100px;
          background-color: red; }
      .member .regular img.member_text {
        top: 140px;
        left: 4%; }
      .member .regular img.ouma {
        top: 240px;
        left: 20%; }
      .member .regular img.shirahama {
        top: 30px;
        left: 30%; }
      .member .regular img.n0bisuke {
        top: 200px;
        left: 50%; }
      .member .regular img.chiba {
        top: 30px;
        left: 70%; }
      .member .regular img.five {
        top: 240px;
        left: 80%; }
  .member .semiregular img {
    width: 150px;
    border-radius: 300px;
	border:3px solid #FFF100;
    margin: 0px 20px 10px 20px; }

.space {
  width: 100%;
  margin: 0 auto;
  background:url(../img/space_bg.png) repeat-x;
  background-size:cover;
  background-color: #0b0a0b;
  color: white;
  overflow:hidden; }
  .space .space_main {
    width: 1024px;
    margin: 0 auto;
    padding-bottom: 30px; }
    .space .space_main h1 {
      padding-top: 30px;
      margin-left: 10px; }
    .space .space_main .space_detail {
      overflow: hidden; }
      .space .space_main .space_detail .space_outline {
        float: left;
        margin-right: 10%; }
      .space .space_main .space_detail .space_ban {
        margin-top: 40px; }
  .space .icon_photo_text {
    margin-left: 46%;
	margin-bottom:5px;}
  .space .icon_sch {
	  float:right;
	  padding:0 30px;
}

.space_photo {
  width: 1024px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  padding-top: 20px; }
  .space_photo .space_img {
    float: left;
    margin: 10px 5px 10px 5px; }

.accessAndContact {
  width: 1024px;
  margin: 0 auto;
  overflow: hidden; }
  .accessAndContact .contact {
    float: left;
    margin-right: 30%;
    width: 30%; }
  .accessAndContact .access {
    font-weight: normal; }
    .accessAndContact .access .means {
      font-size: 14px;
      margin-left: 56%;
	  line-height:1.5em; }
      .accessAndContact .access .means li {
        list-style-type: none; }
      .accessAndContact .access .means .ride {
        margin-left: -30px; }
  .accessAndContact .sns {
    text-align: right;
    height: 100px;
    position: relative; }
    .accessAndContact .sns .fb {
      position: absolute;
      right: 20%; }
    .accessAndContact .sns .tweet {
      position: absolute;
      right: 10%;
      top: 10px; }
